Build artifacts

/target/
/build/

Maven wrapper

.mvn/wrapper/maven-wrapper.jar

Gradle files

.gradle/
*.iml
*.iws
*.ipr
.idea/
/out/
/libs/

Logs

logs/
*.log
*.err
*.out

Environment Variables and Secret Files

.env
.DS_Store

IDE files (IntelliJ, Eclipse, VS Code)

.idea/
.settings/
.project
.classpath
.vscode/

Spring Boot specific

La cartella del database H2 (se la usi)

*.mv.db
*.trace.db

Target directory

target/
